html {
  height: 100%;
}
body {
  background-image: linear-gradient(#a7a297, #57544d);
}

.monitor {
  display: flex;
  background-color: tan;
  width: 693.3px;
  height: 520px;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.disc-tray {
  background-color: #0b130b;
  height: 5px;
  width: 250px;
  margin: auto;
}



.computer-gap {
  content:"";
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #615e59;
  width: 693.3px;
  height: 5px;
}

.computer {
  display: flex;
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 693.3px;
  height: 200px;
}

.result {
  background-color: #0b130b;
  border-radius: 10px;
  width: 666.6px;
  height: 500px;
  color: #01af0f;
  font-family: 'IBM Plex Mono', monospace;
  padding: 2%;
  overflow-y: auto;
}

.desk {
  display:flex;
  height: 115px;
}

.desk-top {
  background-image: linear-gradient(#612f13, #241208);
  height: 50px;
}

.legs {
  background-image: linear-gradient(#252525, #a39f95);
  width: 75px;
  height: 100%;
  margin: auto;
}

input {
  color: #01af0f;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #0b130b;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #01af0f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: tan;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}