html {
  height: 100%;
}
body {
  background-image: linear-gradient(#a7a297, #57544d);
}

#sticky-note {
  position: absolute;
  width: 150px;
  margin-left: 75%;
}

.monitor {
  display: flex;
  background-color: tan;
  position: relative;
  width: 693.3px;
  height: 520px;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}

.monitor::after {
  content: "";
  display: block;
  position: absolute;
  background-color: tan;
  height: 520px;
  width: 50px;
  margin-left: 108%;
  border-radius: 0 10px 10px 0;
}

.disc-tray {
  background-color: #0b130b;
  height: 5px;
  width: 250px;
  margin: auto;
  border-radius: 5px;
}

.disc-tray::before {
  content: "";
  display: block;
  background-image: linear-gradient(#52432f, #a88c6633);
  border-top: 0px;
  border-color: rgb(146, 126, 100);
  border-style: inset;
  border-radius: 0 0 10px 10px;
  height: 40px;
  width: 100px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.disc-tray::after {
  content: "";
  display: block;
  background-image: linear-gradient(#9c805a, #52432f);
  border-bottom: 0px;
  border-color: rgb(146, 126, 100);
  border-style: inset;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
  width: 100px;
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
}

.computer-gap {
  content:"";
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff00;
  width: 693.3px;
  height: 5px;
}

.computer {
  display: flex;
  background-image: linear-gradient(#e9c699, #645848);
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 0px 0px 10px;
  width: 693.3px;
  height: 200px;
  position: relative;
}

.computer::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(#e9c699, #645848);
  height: 200px;
  width: 50px;
  margin-left: 100.3%;
  border-radius: 0px 10px 10px 0px;
}

.result {
  background-image: radial-gradient(#192b19, #0e1b0e) ;
  border-radius: 10px;
  width: 666.6px;
  height: 500px;
  color: #01af0f;
  font-family: 'IBM Plex Mono', monospace;
  padding: 2%;
  overflow-y: auto;
}

.center {
  margin: 30% 30% 35% 34%
}

.desk {
  display:flex;
  height: 115px;
}

.desk-top {
  background-image: linear-gradient(#612f13, #241208);
  height: 50px;
}

.legs {
  background-image: linear-gradient(#252525, #a39f95);
  width: 75px;
  height: 100%;
  margin: auto;
}

input {
  color: #01af0f;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #00000000;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #01af0f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: tan;
}

::-webkit-scrollbar-thumb {
  background: #a79175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}